In [1]:
from pyspark.sql import SparkSession
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import BinaryClassificationEvaluator, MulticlassClassificationEvaluator
from pyspark.sql import functions as f
from pyspark.ml.feature import (VectorAssembler, VectorIndexer, 
                                    OneHotEncoder, StringIndexer)
from pyspark.ml import Pipeline

import warnings
warnings.filterwarnings('ignore')

In [2]:
spark = SparkSession.builder.appName('customer').getOrCreate()

df = spark.read.csv('customer_churn.csv', inferSchema=True, header=True)
df.printSchema()

22/02/16 19:05:40 WARN Utils: Your hostname, ganesh-pi resolves to a loopback address: 127.0.1.1; using 192.168.1.119 instead (on interface eth0)
22/02/16 19:05:40 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/ganesh/spark-3.2.1-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/02/16 19:05:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

root
 |-- Names: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Total_Purchase: double (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Onboard_date: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: integer (nullable = true)

In [18]:
str_cols= [item[0] for item in df.dtypes if item[1].startswith('string')]
df.select(str_cols).show()

+-------------------+-------------------+--------------------+--------------------+
|              Names|       Onboard_date|            Location|             Company|
+-------------------+-------------------+--------------------+--------------------+
|   Cameron Williams|2013-08-30 07:00:40|10265 Elizabeth M...|          Harvey LLC|
|      Kevin Mueller|2013-08-13 00:38:46|6157 Frank Garden...|          Wilson PLC|
|        Eric Lozano|2016-06-29 06:20:07|1331 Keith Court ...|Miller, Johnson a...|
|      Phillip White|2014-04-22 12:43:12|13120 Daniel Moun...|           Smith Inc|
|     Cynthia Norton|2016-01-19 15:31:15|765 Tricia Row Ka...|          Love-Jones|
|   Jessica Williams|2009-03-03 23:13:37|6187 Olson Mounta...|        Kelly-Warren|
|        Eric Butler|2016-12-05 03:35:43|4846 Savannah Roa...|   Reynolds-Sheppard|
|      Zachary Walsh|2006-03-09 14:50:20|25271 Roy Express...|          Singh-Cole|
|        Ashlee Carr|2011-09-29 05:47:23|3725 Caroline Str...|           Lopez PLC|
|     Jennifer Lynch|2006-03-28 15:42:45|363 Sandra Lodge ...|       Reed-Martinez|
|       Paula Harris|2016-11-13 13:13:01|Unit 8120 Box 916...|Briggs, Lamb and ...|
|     Bruce Phillips|2015-05-28 12:14:03|Unit 1895 Box 094...|    Figueroa-Maynard|
|       Craig Garner|2011-02-16 08:10:47|897 Kelley Overpa...|     Abbott-Thompson|
|       Nicole Olson|2012-11-22 05:35:03|11488 Weaver Cape...|Smith, Kim and Ma...|
|     Harold Griffin|2015-03-28 02:13:44|1774 Peter Row Ap...|Snyder, Lee and M...|
|       James Wright|2015-07-22 08:38:40|45408 David Path ...|      Sanders-Pierce|
|      Doris Wilkins|2006-09-03 06:13:55|28216 Wright Moun...|Andrews, Adams an...|
|Katherine Carpenter|2006-10-22 04:42:38|Unit 4948 Box 481...|Morgan, Phillips ...|
|     Lindsay Martin|2015-10-07 00:27:10|69203 Crosby Divi...|      Villanueva LLC|
|        Kathy Curry|2014-11-06 23:47:14|9569 Caldwell Cre...|Berry, Orr and Ca...|
+-------------------+-------------------+--------------------+--------------------+
only showing top 20 rows

In [11]:
df.select(['Age', 'Total_Purchase','Years' ,'Account_Manager'
            ,'Num_Sites', 'Churn']).show()

+----+--------------+-----+---------------+---------+-----+
| Age|Total_Purchase|Years|Account_Manager|Num_Sites|Churn|
+----+--------------+-----+---------------+---------+-----+
|42.0|       11066.8| 7.22|              0|      8.0|    1|
|41.0|      11916.22|  6.5|              0|     11.0|    1|
|38.0|      12884.75| 6.67|              0|     12.0|    1|
|42.0|       8010.76| 6.71|              0|     10.0|    1|
|37.0|       9191.58| 5.56|              0|      9.0|    1|
|48.0|      10356.02| 5.12|              0|      8.0|    1|
|44.0|      11331.58| 5.23|              1|     11.0|    1|
|32.0|       9885.12| 6.92|              1|      9.0|    1|
|43.0|       14062.6| 5.46|              1|     11.0|    1|
|40.0|       8066.94| 7.11|              1|     11.0|    1|
|30.0|      11575.37| 5.22|              1|      8.0|    1|
|45.0|       8771.02| 6.64|              1|     11.0|    1|
|45.0|       8988.67| 4.84|              1|     11.0|    1|
|40.0|       8283.32|  5.1|              1|     13.0|    1|
|41.0|       6569.87|  4.3|              1|     11.0|    1|
|38.0|      10494.82| 6.81|              1|     12.0|    1|
|45.0|       8213.41| 7.35|              1|     11.0|    1|
|43.0|      11226.88| 8.08|              0|     12.0|    1|
|53.0|       5515.09| 6.85|              0|      8.0|    1|
|46.0|        8046.4| 5.69|              1|      8.0|    1|
+----+--------------+-----+---------------+---------+-----+
only showing top 20 rows

In [12]:
selected_data_df = df.select(['Age', 'Total_Purchase','Years' ,'Account_Manager'
            ,'Num_Sites', 'Churn'])

#Checking for nulls in the df
selected_data_df.select([f.count(f.when(f.col(c).isNull(), c)).alias(c) for c in selected_data_df.columns]).show()

+---+--------------+-----+---------------+---------+-----+
|Age|Total_Purchase|Years|Account_Manager|Num_Sites|Churn|
+---+--------------+-----+---------------+---------+-----+
|  0|             0|    0|              0|        0|    0|
+---+--------------+-----+---------------+---------+-----+

In [19]:
selected_data_df.drop('Churn').columns

['Age', 'Total_Purchase', 'Years', 'Account_Manager', 'Num_Sites']

In [26]:
#Creating a vector assembler for the features
assembler = VectorAssembler(inputCols=selected_data_df.drop('Churn').columns, outputCol='features')

vectorised_df=assembler.transform(selected_data_df)

#Splitting the data into train and test
train_data, test_data = vectorised_df.randomSplit([0.7, 0.3])

#defining the l0g_reg model
lr_model = LogisticRegression(featuresCol='features', labelCol='Churn')

fitted_lr_model = lr_model.fit(train_data)

In [27]:
#Evaluating the model 
results = fitted_lr_model.evaluate(test_data)
results.predictions.show()

+----+--------------+-----+---------------+---------+-----+--------------------+--------------------+--------------------+----------+
| Age|Total_Purchase|Years|Account_Manager|Num_Sites|Churn|            features|       rawPrediction|         probability|prediction|
+----+--------------+-----+---------------+---------+-----+--------------------+--------------------+--------------------+----------+
|22.0|      11254.38| 4.96|              1|      8.0|    0|[22.0,11254.38,4....|[4.34575533387472...|[0.98720414212423...|       0.0|
|25.0|       9672.03| 5.49|              0|      8.0|    0|[25.0,9672.03,5.4...|[4.54459241754310...|[0.98948719116593...|       0.0|
|28.0|       8670.98| 3.99|              0|      6.0|    0|[28.0,8670.98,3.9...|[7.47240060770255...|[0.99943176131525...|       0.0|
|29.0|       5900.78| 5.56|              1|      8.0|    0|[29.0,5900.78,5.5...|[3.79099750178100...|[0.97792522166769...|       0.0|
|29.0|      12711.15| 5.74|              0|      7.0|    0|[29.0,12711.15,5....|[5.27090496689454...|[0.99488731598647...|       0.0|
|30.0|       7960.64| 2.72|              1|     10.0|    1|[30.0,7960.64,2.7...|[2.86741108429130...|[0.94621173701695...|       0.0|
|30.0|       8677.28| 7.31|              1|      7.0|    0|[30.0,8677.28,7.3...|[3.90878027728184...|[0.98032972347869...|       0.0|
|30.0|      10960.52| 5.96|              1|      9.0|    0|[30.0,10960.52,5....|[2.26277028241605...|[0.90574639565813...|       0.0|
|31.0|       7073.61| 5.73|              0|      9.0|    0|[31.0,7073.61,5.7...|[3.01812156080936...|[0.95338611677474...|       0.0|
|31.0|       8829.83| 4.52|              1|      8.0|    0|[31.0,8829.83,4.5...|[4.15012100711314...|[0.98448209216802...|       0.0|
|31.0|       9574.89| 7.34|              0|      8.0|    0|[31.0,9574.89,7.3...|[3.26862615342590...|[0.96333667954708...|       0.0|
|31.0|      12264.68| 5.88|              1|      8.0|    0|[31.0,12264.68,5....|[3.36290818707227...|[0.96652499721127...|       0.0|
|32.0|       5756.12|  5.9|              0|      8.0|    0|[32.0,5756.12,5.9...|[4.05298784166381...|[0.98292618196633...|       0.0|
|32.0|       7896.65| 7.12|              0|      8.0|    0|[32.0,7896.65,7.1...|[3.36978345021299...|[0.96674673033205...|       0.0|
|32.0|       8617.98|  6.2|              1|     10.0|    1|[32.0,8617.98,6.2...|[0.94444653319749...|[0.71999696074021...|       0.0|
|32.0|       9036.27| 7.14|              0|     11.0|    0|[32.0,9036.27,7.1...|[-0.1010193546593...|[0.47476661638707...|       1.0|
|32.0|       9472.72|  1.0|              1|     10.0|    0|[32.0,9472.72,1.0...|[3.61280416733032...|[0.97373249937709...|       0.0|
|32.0|      11540.86|  3.0|              0|      7.0|    0|[32.0,11540.86,3....|[6.55570289912086...|[0.99858003615940...|       0.0|
|32.0|      11715.72| 4.73|              0|      9.0|    0|[32.0,11715.72,4....|[3.36832621390369...|[0.96669985196627...|       0.0|
|32.0|      12479.72| 4.67|              0|      8.0|    0|[32.0,12479.72,4....|[4.52490999874021...|[0.98928046394725...|       0.0|
+----+--------------+-----+---------------+---------+-----+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [31]:
results.predictions.printSchema()

root
 |-- Age: double (nullable = true)
 |-- Total_Purchase: double (nullable = true)
 |-- Years: double (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Churn: integer (nullable = true)
 |-- features: vector (nullable = true)
 |-- rawPrediction: vector (nullable = true)
 |-- probability: vector (nullable = true)
 |-- prediction: double (nullable = false)

In [32]:
evaluator = BinaryClassificationEvaluator(rawPredictionCol='prediction', labelCol='Churn', metricName='areaUnderPR')
evaluator.evaluate(results.predictions)

0.6609279609279609

Predicting on new customers

In [35]:
pipeline = Pipeline(stages = [assembler, lr_model])

In [34]:
new_cust = spark.read.csv('new_customers.csv', inferSchema=True, header=True)
new_cust.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Total_Purchase: double (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Onboard_date: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)

In [37]:
fitted_new_cust = assembler.transform(new_cust)
fitted_new_cust.show()

+--------------+----+--------------+---------------+-----+---------+-------------------+--------------------+----------------+--------------------+
|         Names| Age|Total_Purchase|Account_Manager|Years|Num_Sites|       Onboard_date|            Location|         Company|            features|
+--------------+----+--------------+---------------+-----+---------+-------------------+--------------------+----------------+--------------------+
| Andrew Mccall|37.0|       9935.53|              1| 7.71|      8.0|2011-08-29 18:37:54|38612 Johnny Stra...|        King Ltd|[37.0,9935.53,7.7...|
|Michele Wright|23.0|       7526.94|              1| 9.28|     15.0|2013-07-22 18:19:54|21083 Nicole Junc...|   Cannon-Benson|[23.0,7526.94,9.2...|
|  Jeremy Chang|65.0|         100.0|              1|  1.0|     15.0|2006-12-11 07:48:13|085 Austin Views ...|Barron-Robertson|[65.0,100.0,1.0,1...|
|Megan Ferguson|32.0|        6487.5|              0|  9.4|     14.0|2016-10-28 05:32:13|922 Wright Branch...|   Sexton-Golden|[32.0,6487.5,9.4,...|
|  Taylor Young|32.0|      13147.71|              1| 10.0|      8.0|2012-03-20 00:36:46|Unit 0789 Box 073...|        Wood LLC|[32.0,13147.71,10...|
| Jessica Drake|22.0|       8445.26|              1| 3.46|     14.0|2011-02-04 19:29:27|1148 Tina Straven...|   Parks-Robbins|[22.0,8445.26,3.4...|
+--------------+----+--------------+---------------+-----+---------+-------------------+--------------------+----------------+--------------------+

In [40]:
fitted_lr_new_cust = fitted_lr_model.transform(fitted_new_cust)
fitted_lr_new_cust.show()

+--------------+----+--------------+---------------+-----+---------+-------------------+--------------------+----------------+--------------------+--------------------+--------------------+----------+
|         Names| Age|Total_Purchase|Account_Manager|Years|Num_Sites|       Onboard_date|            Location|         Company|            features|       rawPrediction|         probability|prediction|
+--------------+----+--------------+---------------+-----+---------+-------------------+--------------------+----------------+--------------------+--------------------+--------------------+----------+
| Andrew Mccall|37.0|       9935.53|              1| 7.71|      8.0|2011-08-29 18:37:54|38612 Johnny Stra...|        King Ltd|[37.0,9935.53,7.7...|[2.15178872685352...|[0.89583580838231...|       0.0|
|Michele Wright|23.0|       7526.94|              1| 9.28|     15.0|2013-07-22 18:19:54|21083 Nicole Junc...|   Cannon-Benson|[23.0,7526.94,9.2...|[-5.8604247902934...|[0.00284193315665...|       1.0|
|  Jeremy Chang|65.0|         100.0|              1|  1.0|     15.0|2006-12-11 07:48:13|085 Austin Views ...|Barron-Robertson|[65.0,100.0,1.0,1...|[-3.6481371680818...|[0.02537873902306...|       1.0|
|Megan Ferguson|32.0|        6487.5|              0|  9.4|     14.0|2016-10-28 05:32:13|922 Wright Branch...|   Sexton-Golden|[32.0,6487.5,9.4,...|[-4.6401924607552...|[0.00956349550498...|       1.0|
|  Taylor Young|32.0|      13147.71|              1| 10.0|      8.0|2012-03-20 00:36:46|Unit 0789 Box 073...|        Wood LLC|[32.0,13147.71,10...|[1.15704925690356...|[0.76079613606220...|       0.0|
| Jessica Drake|22.0|       8445.26|              1| 3.46|     14.0|2011-02-04 19:29:27|1148 Tina Straven...|   Parks-Robbins|[22.0,8445.26,3.4...|[-1.6751715592489...|[0.15773589312835...|       1.0|
+--------------+----+--------------+---------------+-----+---------+-------------------+--------------------+----------------+--------------------+--------------------+--------------------+----------+

In [41]:
fitted_lr_new_cust.select('Company','prediction').show()

+----------------+----------+
|         Company|prediction|
+----------------+----------+
|        King Ltd|       0.0|
|   Cannon-Benson|       1.0|
|Barron-Robertson|       1.0|
|   Sexton-Golden|       1.0|
|        Wood LLC|       0.0|
|   Parks-Robbins|       1.0|
+----------------+----------+

In [42]:
#Thanks for reading